<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="alert alert-danger" *ngIf="error">
        <div [innerHTML]="error"></div>
      </div>
      {{ getPropsFile() | json }}

      <p>Quantidade de arquivos: {{ size }}</p>
      <input name="file" id="file" class="inputfile" type="file" ng2FileSelect [uploader]="uploader" multiple />
      <label for="file">Selecionar Arquivos</label>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th>Tamanho</th>
            <th>Progress</th>
            <th>Status</th>
            <th class="text-center">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td>
              <strong>{{ item?.file?.name }}</strong>
            </td>
            <td>
                <strong>{{ formateSize(item?.file?.size) }}</strong>
            </td>
            <td>{{ item.progress }} % </td>
            <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
            <!-- <td *ngIf="!uploader.isHTML5" nowrap>{{ fIleSize(item?.file?.size) }}</td> -->
            <td *ngIf="uploader.isHTML5">
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }">
                  {{ item.progress }} %
                </div>
              </div>
            </td>

            <td class="text-center">
              <span *ngIf="item.isSuccess">
                <i class="glyphicon glyphicon-ok"></i>
              </span>
              <span *ngIf="item.isCancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
              </span>
              <span *ngIf="item.isError">
                <i class="glyphicon glyphicon-remove"></i>
              </span>
            </td>

            <td class="text-center">
              <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                <!-- <button type="button" class="btn btn-success btn-xs" (click)="item.upload()"> -->
                <span class="glyphicon glyphicon-upload"></span> Upload
              </button>
              <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
              <!-- <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()"> -->
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
              </button>
              <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div>

        <div class="queue-progress">
          Queue progress:
          <div class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>

        <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Upload all
        </button>
        <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
        </button>
        <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
          <span class="glyphicon glyphicon-trash"></span> Remove all
        </button>
      </div>

    </div>
  </div>

</div>
