.nv-file-over { border: dotted 3px red; }

/* Default class applied to drop zones on over */

.another-file-over-class { border: dotted 3px green; }

.inputfile {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
}

.inputfile+label {
  padding: 10px;
  display: inline-block;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color: #212529;

}

.inputfile:focus+label,
.inputfile+label:hover { background-color: #000; }

.inputfile+label { cursor: pointer; }

.inputfile:focus+label {
  outline: 1px dotted #212529;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label * {
  pointer-events: none;
}

.inputfile:focus+label,
.inputfile.has-focus+label {
  outline: 1px dotted #212529;
  outline: -webkit-focus-ring-color auto 5px;
}

.queue-progress{ margin-bottom: 15px; }
.fa-1x { font-size: 1em; }

.alert-error ul,
.alert-error li {
  padding: 0;
  margin: 0;
}

.alert-error li { list-style: none; }
.progress{ margin-bottom: 0; }
